<section class="home">

    <div class="home-content">

        <p class="saudacao">
            Olá, eu sou
        </p>

        <h1>
            Pablo Alves
        </h1>

        <h2>
            Desenvolvedor <span>Front-End</span>
        </h2>

        <p class="descricao">
            Desenvolvedor focado na criação de interfaces web
            modernas, responsivas e funcionais.
        </p>

        <!-- Botões -->
        <div class="botoes">

            <a href="https://github.com/Pabloalves1213?tab=repositories" class="botao principal">
                Ver projetos
            </a>

            <a href="#" class="botao">
                Baixar CV
            </a>

        </div>

        <div class="redes">

            <a  href="https://github.com/pabloalves1213" aria-label="GitHub">
                GitHub
            </a>

            <a href="#" aria-label="LinkedIn">
                LinkedIn
            </a>

            <a href="#" aria-label="E-mail">
                E-mail
            </a>

        </div>

    </div>

    <!-- Foto -->
    <div class="foto-container">

        <div class="foto-forma"></div>

        <img src="assets/images/foto-entrada.png" alt="Foto de Pablo Alves" class="foto">

    </div>

</section>